.contenido {
    display: block;
}

section, aside {
    width: 100%;
}

article {
    display: block;
    width: 100%;
}

.images, .texts {
    display: block;
    /*width: calc(50% - 5px);
    vertical-align: top;*/
}

aside {
    border-left: none;
}

header h1 {
    width: 75%;
}